<!DOCTYPE html>
<head>
   <title>RPi Web Server</title>
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
   <h1>VFD Snowflake</h1>
   <h2>Power
      <div class="row"><div class="col-md-2"><a href="/power/off" class="btn btn-block btn-lg btn-default" role="button">Turn off</a></div></div>
      <div class="row"><div class="col-md-2"><a href="/power/on" class="btn btn-block btn-lg btn-default" role="button">Turn on</a></div></div>
</h2>
</body>
