[submodule "libraries/FlashStorage_SAMD"]
	path = libraries/FlashStorage_SAMD
	url = https://github.com/khoih-prog/FlashStorage_SAMD.git
[submodule "libraries/Time"]
	path = libraries/Time
	url = https://github.com/PaulStoffregen/Time.git
[submodule "libraries/AudioTuner"]
	path = libraries/AudioTuner
	url = https://github.com/duff2013/AudioTuner.git
[submodule "libraries/Audio"]
	path = libraries/Audio
	url = https://github.com/PaulStoffregen/Audio.git
[submodule "libraries/movingAvg"]
	path = libraries/movingAvg
	url = https://github.com/JChristensen/movingAvg.git
[submodule "libraries/Arduino-SerialCommands"]
	path = libraries/Arduino-SerialCommands
	url = https://github.com/ppedro74/Arduino-SerialCommands.git
[submodule "STM32-GPSDO"]
	path = STM32-GPSDO
	url = https://github.com/wtwarner/STM32-GPSDO.git
